* {
  margin: 0%;
  padding: 0%;
}

.category-footer {
  overflow-x: hidden;
}
.category-footer__divider {
  height: 0.2em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #ff842c;
  width: 80em;
}

.category-footer__box {
  margin-left: 1.2rem;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.7rem;
  align-self: start;
}

.category-footer-list {
  list-style: none;
  font-family: Helvetica;
}
.category-footer-list__line {
  padding-top: 0.1rem;
  width: 1.5em;
  margin-top: 0.4rem;
  height: 0.1em;
}

.category-footer-list__line--orange {
  background-color: #ff842c;
}

.category-footer-list__line--blue {
  background-color: #4376b0;
}
.category-footer-list__line--gray {
  background-color: #f8f8f8;
  width: 80%;
}

.category-footer-list__item {
  font-size: 0.9em;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.category-footer-list__item--title {
  font-weight: bold;
  text-decoration: none;
}

.category-footer-list__link--link {
  text-decoration: none;
  color: black;
}
.category-footer-list__link--visited:visited {
  color: black;
}
.category-footer-list__link--hover:hover {
  font-weight: bold;
}

.category-footer-list__link--active:active {
  background-color: #ffffff;
}

.category-footer-list__link--playstore {
  background-image: url("/assets/img/playstore.svg");
  background-repeat: no-repeat;
  height: 2.7em;
}

.category-footer-list__link--appstore {
  background-image: url("/assets/img/appstore.svg");
  background-repeat: no-repeat;
  height: 2.7em;
}

@media screen and (max-width: 700px) {
  .category-footer-list--mobile {
    grid-column: 1/-1;
  }
  .category-footer-list--desktop {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .category-footer__divider--responsive {
    width: 100%;
  }
}
